<div class="view-document-container" *ngIf="document">
  <h2>View Document</h2>
  <div class="document-details">
    <div class="form-group">
      <p><strong>Title:</strong> {{ document.documentTitle }}</p>
    </div>
    <div class="form-group">
      <p><strong>Category:</strong> {{ document.category }}</p>
    </div>
    <div class="form-group">
      <p><strong>Priority:</strong> {{ document.priority === 1 ? 'Low' : document.priority === 2 ? 'Medium' : 'High' }}</p>
    </div>
    <div class="form-group">
      <p><strong>Importance:</strong> {{ document.importance }}</p>
    </div>
    <div class="form-group">
      <p><strong>Date:</strong> {{ document.documentDate | date }}</p>
    </div>
    <div class="form-group">
      <p><strong>Document:</strong> <a href="{{ document.documentFileName }}" target="_blank">{{ document.documentFileName }}</a></p>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/dashboard">Back to Dashboard</button>
  </div>
</div>
