<div class="header">
  <mat-toolbar color="primary">
    <span>Document Management System</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="document-dashboard-container">
  <div class="dashboard-header">
    <h2>Document Dashboard</h2>
    <button mat-raised-button class="add-document-btn" (click)="goToAddDocument()">Add Document</button>
  </div>

  <div class="filters">
    <div class="filter-group">
      <label for="categoryFilter">Filter by Category:</label>
      <select id="categoryFilter" class="form-control" (change)="filterDocuments($event)">
        <option value="">All</option>
        <option value="Financial">Financial</option>
        <option value="Legal">Legal</option>
        <option value="Projects">Projects</option>
        <option value="HR">HR</option>
        <option value="Custom Categories">Custom Categories</option>
        <option value="Others">Others</option>
      </select>
    </div>
  </div>

  <div *ngIf="dataSource.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th (click)="sortData('documentTitle')">Title</th>
          <th (click)="sortData('category')">Category</th>
          <th (click)="sortData('priority')">Priority</th>
          <th (click)="sortData('importance')">Importance</th>
          <th (click)="sortData('documentDate')">Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of dataSource">
          <td>{{ document.documentTitle }}</td>
          <td>{{ document.category }}</td>
          <td>{{ document.priority }}</td>
          <td>{{ document.importance }}</td>
          <td>{{ document.documentDate }}</td>
          <td>
            <button mat-icon-button color="accent" (click)="viewDocumentpopup(document.documentId)">
              <mat-icon>visibility</mat-icon>
            </button>
            
            <button mat-icon-button color="warn" (click)="editDocument(document.documentId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteDocument(document.documentId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dataSource.length === 0" class="no-documents">
    <p>No documents found.</p>
  </div>
</div>
