<div class="header">
  <mat-toolbar color="primary">
    <span>Document Management System</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="document-form-container">
  <h2>Add New Document</h2>

  <!-- Button container to navigate back to Document Dashboard -->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="goToDashboard()">Dashboard</button>
  </div>

  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="documentTitle">Document Title</label>
      <input type="text" id="documentTitle" [(ngModel)]="documentTitle" name="documentTitle" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" [(ngModel)]="category" name="category" class="form-control" required>
        <option *ngFor="let cat of categories" [value]="cat.categoryId">{{ cat.categoryName }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="priority">Priority</label>
      <input type="range" id="priority" [(ngModel)]="priority" name="priority" min="1" max="7" class="form-control-range custom-range" />
      <small class="form-text text-muted">
        {{ getPriorityLabel(priority) }}
      </small>
    </div>
    
    <div class="form-group">
      <label for="importance">Importance</label>
      <input type="range" id="importance" [(ngModel)]="importance" name="importance" min="1" max="10" class="form-control-range custom-range" />
      <small class="form-text text-muted">Importance: {{ importance }}</small>
    </div>
    

    <div class="form-group">
      <label for="documentDate">Document Date</label>
      <!-- Add max attribute to restrict future date selection -->
      <input type="date" id="documentDate" [(ngModel)]="documentDate" name="documentDate" class="form-control" [max]="maxDate" required />
    </div>

    <div class="form-group">
      <label for="documentFile">Upload Document</label>
      <input type="file" id="documentFile" (change)="onFileSelected($event)" name="documentFile" class="form-control" accept=".pdf,.doc,.docx" required />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
